.footer {
    width: 100%;
    height: 200%;
    background-color: #121619;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}

.socialMedia svg {
    color: white;
    margin: 20px;
    font-size: 70px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.socialMedia svg:hover {
    transform: scale(1.2);
    color: #f4132d; 
    box-shadow: 0 0 15px #73bfd8; 
}

.footer p {
    color: white;
}
